[ ca ]
default_ca = CA_default

[ CA_default ]
serial = ca-serial
crl = ca_crl.pem
private_key = ca_key.pem
certificate = ca_cert.pem
database = ca_database.txt
name_opt = CA_default
cert_opt = CA_default
default_crl_days = 9999
default_md = md5

[ req ]
encrypt_key = no
utf8 = yes
string_mask = utf8only
prompt = no
distinguished_name = root_dn
x509_extensions = extensions

[ root_dn ]
countryName = US
0.organizationName = ExxaVerse LLC
commonName = ExxaVerse CA

[ extensions ]
keyUsage = critical,keyCertSign,cRLSign
basicConstraints = critical,CA:TRUE
subjectKeyIdentifier = hash
crlDistributionPoints = URI:file:///D:/devel/toptal/near_linker/NearLinker/nl-api-server/test_ssl_cert/ca_crl.pem
